
<div class="container">
  <header>Header</header>
  <div class="app">
    <div class="sidebar">
      Sidebar
    </div>
    <div class="content">
      {{outlet}}
    </div>
  </div>
  <footer class="footer">Footer</footer>
</div>
